main {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    background-color: #00BFC3;
    align-items: center;
    justify-content: center;
    padding: 20px 20px 50px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1300px;
    padding: 25px;
    margin: 0 0 30px;
    
    border-radius: 10px;
    filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.75));
    
    background-color: #FFFFFF;
    
    color: #333;
    font-size: 1.5em;
    text-transform: uppercase;
}

.grid {
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    gap: 10px;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    background-color: #FFFFFF;

    padding: 20px;
    border-radius: 10px;

    filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.75));
}

.card {
    aspect-ratio: 3/4;
    width: 100%;
    border-radius: 12px;
    position: relative;
    transition: all 400ms ease;
    transform-style: preserve-3d;
}

.default-card {
    position: absolute;
    width: 100%;
    height: 100%;    
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    transition: all 400ms ease;

    filter: drop-shadow(2px 2px 2.5px rgba(0, 0, 0, 0.5));
}

.front {
    transform: rotateY(180deg);
}

.back {
    background-image: url(/images/1\ verso.png);
    backface-visibility: hidden;
}

.reveal-card {
    transform: rotateY(180deg);
}

.disable-card {
    filter: saturate(0);
    opacity: 0.5;
}